:root {
    --white: #FFFFFF;
    --black: #000000;
    --light-grey-bg: #EFEFF4;
    --dark-grey-text: #4A4A4A;
    --graph-line-grey: #B0B0B0; 
    --accent-basic: #1C1C1E; 
}

.container {
    background-color: var(--white);
    color: var(--black);
    padding: 20px;
    max-width: 450px;
    margin: 0 auto;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.header {
    margin-bottom: 20px;
}

.title {
    font-size: 24px; 
    font-weight: bold;
    color: var(--black);
    margin: 0;
}

.tabs {
    display: flex;
    background-color: var(--light-grey-bg);
    border-radius: 10px;
    padding: 3px;
    margin-bottom: 30px;
}

.tab {
    flex-grow: 1;
    padding: 8px 0;
    border: none;
    background: transparent;
    color: var(--dark-grey-text);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.2s ease;
}

.activeTab {
    background-color: var(--white);
    color: var(--black);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.averageInfo {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.averageLabel {
    color: var(--dark-grey-text);
    font-size: 14px;
    margin: 0 0 5px 0;
}

.averageValue {
    font-size: 36px;
    font-weight: bold;
    color: var(--black);
    margin: 0;
    display: flex;
    align-items: flex-end;
}

.unitText {
    font-size: 14px;
    color: var(--dark-grey-text);
    margin-left: 5px;
    margin-bottom: 3px; 
}

.dateText {
    font-size: 16px;
    color: var(--dark-grey-text);
    margin: 0;
}

.graphContainer {
    position: relative;
    height: 180px; 
    display: flex;
    align-items: flex-end; 
    justify-content: flex-start;
}

.yAxisLabels {
    position: relative;
    top: 0;
    left: -10px; 
    height: 100%;
    color: var(--graph-line-grey);
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    width: 40px;
}

.yLabelBottom {
    transform: translateY(-5px); 
}

.barChart {
    width: 90%;
    border-bottom: 1px solid var(--graph-line-grey);
    position: relative;
    overflow-x: hidden; 
    height: 180px;
}

.barSet {
    display: flex;
    align-items: flex-end;
    height: 150px;
    justify-content: space-around;
    position: relative; 
    bottom: 0;
}

.bar {
    width: 10px;
    flex-shrink: 0;
    background-color: var(--accent-basic);
    border-radius: 3px 3px 0 0;
    min-width: 5px; 
    transition: height 0.3s ease;
}

.xAxisLabels {
    display: flex;
    justify-content: space-around;
    position: relative;
    padding-top: 5px;
    color: var(--graph-line-grey);
    font-size: 12px;
    left: 0; 
    height: 10px;
}

.xLabel {
    width: 5px;
    flex-shrink: 0;
    text-align: center;
    margin-right: 10px; 
    overflow: visible; 
    white-space: nowrap;
    transform: translateX(-50%);
}